// Place all the styles related to the cafes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// アコーディオン
// .accordions {
//   display: flex;
// }

.accordion-001 {
  // max-width: 240px;
  width: 240px;
  background-color: #f0f5f9;
}

.accordion-001:not([open]) {
  margin-bottom: 7px;
}

.accordion-001 summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 1em 2em;
  border-radius: 5px;
  background-color: #2589d0;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}

.accordion-001 summary::-webkit-details-marker {
  display: none;
}

.accordion-001 summary::after {
  transform: translateY(-25%) rotate(45deg);
  width: 7px;
  height: 7px;
  margin-left: 10px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  content: '';
  transition: transform .3s;
}

.accordion-001[open] summary::after {
  transform: rotate(225deg);
}

.accordion-001 p {
  transform: translateY(-10px);
  opacity: 0;
  margin: 0;
  padding: 1em 2em 2em 2em;
  color: #333333;
  transition: transform .5s, opacity .5s;
}

.accordion-001[open] p {
  transform: none;
  opacity: 1;
}